@use '../../styles/' as *;

.mobile-homepage {
	padding: 2.5rem;

	&__body {
		@include flex(column);
		gap: 1rem;
		margin-top: 1rem;
	}

	&__section {
		@include flex(column);
		gap: 2rem;

		&-title {
			font-size: 2rem;
			font-weight: bold;
			color: var(--icon-alt);
			margin-bottom: 1rem;
			position: sticky;
			top: 0;
			background-color: var(--background);
			width: 100%;
			z-index: 2;
		}
	}
}

#about h2 {
	margin-bottom: 0;
}
