.color-theme-switch {
	& svg {
		cursor: pointer;
		user-select: none;
		box-shadow: var(--box-shadow);
		border-radius: 50%;
		color: var(--icon);
		height: 2rem;
		padding: 0.5rem;
		width: 2rem;
		transition: var(--box-shadow-transition);
	}
}
